*.so
docs/_build
*.pyc
*.pyo
*.egg-info
*.egg
build
dist
.DS_Store
.tox
babel/global.dat
babel/localedata/*.dat
babel/messages/tests/data/project/i18n/long_messages.pot
babel/messages/tests/data/project/i18n/temp.pot
babel/messages/tests/data/project/i18n/en_US
