*.so
docs/_build
*.pyc
*.pyo
*.egg-info
*.egg
build
dist
.DS_Store
.tox
babel/global.dat
babel/localedata/*.dat
tests/messages/data/project/i18n/long_messages.pot
tests/messages/data/project/i18n/temp.pot
tests/messages/data/project/i18n/en_US
