**/__pycache__
*.egg
*.egg-info
*.pyc
*.pyo
*.so
*.swp
*~
.*cache
.DS_Store
.idea
.tox
/venv*
babel/global.dat
babel/global.dat.json
build
dist
docs/_build
test-env
tests/messages/data/project/i18n/en_US
tests/messages/data/project/i18n/long_messages.pot
tests/messages/data/project/i18n/temp*
tests/messages/data/project/i18n/fi_BUGGY/LC_MESSAGES/*.mo
